.swal2-container {
    z-index: 20000 !important;
}
.ant-picker-outlined{
    z-index: 1000000000 !important;
}
.ant-picker-focused{
    z-index: 1000000000 !important;
}
.ant-picker{
    z-index: 1000000000 !important;
}

#date-popup > div {
    position: relative !important;
}
.bg-default {
    background-color: #1d1d1d !important;
}

.main-tabs .nav-item{
    border: none;
}
 .main-tabs .nav-item button{
    background: none !important;
    color: #000 !important;
    border-top: none !important;
    border-left: none !important;

}

 .MuiTablePagination-selectLabel{
     height:100% !important;
     margin-top: auto !important;
     color: #CCCCCC;
 }
.MuiTablePagination-displayedRows{
     height:100% !important;
     margin-top: auto !important;
    color: #CCCCCC;
 }
.MuiToolbar-root{
    padding-left: 0 !important;
}