.swal2-container {
    z-index: 20000 !important;
}
.ant-picker-outlined{
    z-index: 1000000000 !important;
}
.ant-picker-focused{
    z-index: 1000000000 !important;
}
.ant-picker{
    z-index: 1000000000 !important;
}

#date-popup > div {
    position: relative !important;
}
.bg-default {
    background-color: #1d1d1d !important;
}
