label,p,h1,h2,h3,h4,h5,h6,small {
    color: #FFFFFF;
}
.modal-content {
    background: #161616 !important;
}
.modal-content .modal-header .modal-title{
    color: #FFFFFF;
}
.MuiInputAdornment-root{
    color:#ffffff !important;
}


textarea.form-control,select.form-control,input.form-control{
    background: #FFFFFF14;
    border-color: #161616;
    color:#fff;
}

textarea.form-control:focus,select.form-control:focus,input.form-control:focus{
    background: #FFFFFF14;
    border-color: #161616;
    color:#fff;
}
.ant-picker, ant-picker-input{
    color:#fff;
    background: #FFFFFF14;
    border-color: #161616;
}
.ant-picker .ant-picker-input >input::placeholder{
    color: #8898A9 !important;

}
.ant-picker-outlined:hover{
    background: #FFFFFF14 !important;
}
.ant-picker-input::placeholder{
    color: #CCCCCC;
}
.ant-picker:focus{
    background: #FFFFFF14 !important;
    border-color: #161616;
}

.ant-upload button{
    color: #c0c0c0;
}

/*#FFFFFF14*/